In [ ]:
import numpy as np

In [ ]:
data=np.array([[3.87,2.65,0],
              [2.65,3.63,0],
              [4.93,5.50,0],
              [2.83,2.95,0],
              [4.07,4.00,0],
              [8.27,3.57,1],
              [6.36,3.09,1],
              [7.99,2.97,1],
              [9.76,1.42,1],
              [8.76,4.6,1]])

In [ ]:
data[:,1]

array([2.65, 3.63, 5.5 , 2.95, 4.  , 3.57, 3.09, 2.97, 1.42, 4.6 ])

In [ ]:
import pandas as pd

In [ ]:
# df=pd.DataFrame(data=data,columns={"x1":data[:,0],"x2":data[:,1],"y":data[:,2]})
df=pd.DataFrame(data=data,columns=["x1","x2","y"])

In [ ]:
df

     x1    x2    y
0  3.87  2.65  0.0
1  2.65  3.63  0.0
2  4.93  5.50  0.0
3  2.83  2.95  0.0
4  4.07  4.00  0.0
5  8.27  3.57  1.0
6  6.36  3.09  1.0
7  7.99  2.97  1.0
8  9.76  1.42  1.0
9  8.76  4.60  1.0

In [ ]:
x=df[['x1','x2']]

In [ ]:
x

     x1    x2
0  3.87  2.65
1  2.65  3.63
2  4.93  5.50
3  2.83  2.95
4  4.07  4.00
5  8.27  3.57
6  6.36  3.09
7  7.99  2.97
8  9.76  1.42
9  8.76  4.60

In [ ]:
y=df[['y']]

In [ ]:
y

     y
0  0.0
1  0.0
2  0.0
3  0.0
4  0.0
5  1.0
6  1.0
7  1.0
8  1.0
9  1.0

In [ ]:
df['y']=df['y'].astype(int)

In [ ]:
df

     x1    x2  y
0  3.87  2.65  0
1  2.65  3.63  0
2  4.93  5.50  0
3  2.83  2.95  0
4  4.07  4.00  0
5  8.27  3.57  1
6  6.36  3.09  1
7  7.99  2.97  1
8  9.76  1.42  1
9  8.76  4.60  1

In [ ]:
coef=[0.55,0.45,1.25]

In [ ]:
def predict(data_row,coef):
  yhat=coef[0] + coef[1] * data_row[0] + coef[2] * data_row[1]
  return 1/(1+math.exp(-yhat))

  #function ne dynamic banavanu  chhe aa static chhe

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,random_state=0)

In [ ]:
model1=LinearRegression(fit_intercept=True)

In [ ]:
model1.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model1.coef_

array([[ 0.19778935, -0.05852555]])

In [ ]:
for data_row in data:
  z= predict(data_row,coef)
  print("expected", data_row[2],"calculated",z,"rountded",round(z))

expected 0.0 calculated 0.03619551521603463 rountded 0
expected 0.0 calculated 1.8099674901558454e-06 rountded 0
expected 0.0 calculated 3.344598830206283e-07 rountded 0
expected 0.0 calculated 0.0001470982771366144 rountded 0
expected 0.0 calculated 4.902292808135479e-05 rountded 0
expected 1.0 calculated 0.9997199726862912 rountded 1
expected 1.0 calculated 0.9745719358906123 rountded 1
expected 1.0 calculated 0.999970032362334 rountded 1
expected 1.0 calculated 0.9999999999918967 rountded 1
expected 1.0 calculated 0.9876119653699826 rountded 1

In [ ]:
import math

In [ ]:
for i in range(300):
  sum_error=0
  lr=0.001
  for data_row in data:
    z=predict(data_row,coef)
    error=data_row[2]-z
    sum_error += error**2
    coef[0]=coef[0]+lr*error*z*(1-z)
    coef[1]=coef[1]+lr*error*data_row[0]*z*(1-z)
    coef[2]=coef[2]+lr*error*data_row[1]*z*(1-z)
  print(sum_error)

  #number of iterartion is aslocalled epock

0.0021108822769477517
0.0021108804247774553
0.002110878572610902
0.0021108767204481085
0.0021108748682890895
0.0021108730161338274
0.0021108711639823345
0.002110869311834617
0.0021108674596906464
0.002110865607550439
0.002110863755414029
0.0021108619032813455
0.0021108600511524555
0.0021108581990273083
0.002110856346905927
0.0021108544947883155
0.002110852642674463
0.0021108507905643753
0.0021108489384580563
0.0021108470863555
0.0021108452342567083
0.0021108433821616507
0.0021108415300703947
0.002110839677982895
0.0021108378258991286
0.002110835973819148
0.0021108341217429176
0.002110832269670466
0.0021108304176017502
0.002110828565536831
0.0021108267134756437
0.0021108248614182304
0.00211082300936457
0.002110821157314674
0.002110819305268532
0.0021108174532261594
0.0021108156011875596
0.0021108137491527026
0.0021108118971216064
0.002110810045094267
0.002110808193070695
0.00211080634105087
0.0021108044890348105
0.002110802637022521
0.0021108007850139682
0.002110798933009203
0.0021107970810081804
0.002110795229010921
0.002110793377017391
0.0021107915250276467
0.0021107896730416624
0.002110787821059427
0.0021107859690809518
0.002110784117106227
0.0021107822651352656
0.0021107804131680506
0.002110778561204606
0.0021107767092449193
0.0021107748572889787
0.00211077300533679
0.0021107711533883706
0.0021107693014436974
0.0021107674495027926
0.0021107655975656186
0.002110763745632218
0.0021107618937025764
0.0021107600417766916
0.002110758189854549
0.0021107563379361613
0.002110754486021539
0.0021107526341106572
0.002110750782203547
0.002110748930300183
0.002110747078400567
0.00211074522650471
0.002110743374612595
0.0021107415227242425
0.0021107396708396477
0.002110737818958797
0.002110735967081711
0.0021107341152083606
0.002110732263338783
0.002110730411472944
0.002110728559610868
0.002110726707752545
0.002110724855897955
0.002110723004047117
0.002110721152200054
0.0021107193003567152
0.0021107174485171455
0.002110715596681324
0.002110713744849239
0.0021107118930209193
0.002110710041196342
0.0021107081893755263
0.0021107063375584577
0.0021107044857451387
0.002110702633935566
0.002110700782129748
0.0021106989303276793
0.002110697078529355
0.0021106952267347812
0.002110693374943947
0.0021106915231568673
0.002110689671373545
0.0021106878195939643
0.002110685967818142
0.0021106841160460476
0.0021106822642777095
0.002110680412513132
0.0021106785607522853
0.0021106767089952056
0.0021106748572418664
0.002110673005492251
0.0021106711537464025
0.0021106693020043104
0.0021106674502659375
0.0021106655985313424
0.0021106637468004574
0.002110661895073343
0.0021106600433499654
0.0021106581916303397
0.0021106563399144514
0.0021106544882023297
0.002110652636493918
0.002110650784789273
0.0021106489330883745
0.0021106470813912048
0.002110645229697814
0.0021106433780081406
0.0021106415263222075
0.002110639674640038
0.0021106378229616
0.002110635971286909
0.002110634119615962
0.00211063226794875
0.0021106304162852884
0.0021106285646255714
0.0021106267129696057
0.0021106248613173588
0.002110623009668876
0.0021106211580241173
0.0021106193063831144
0.002110617454745861
0.0021106156031123332
0.0021106137514825605
0.0021106118998565123
0.0021106100482342245
0.002110608196615664
0.002110606345000857
0.002110604493389779
0.0021106026417824397
0.0021106007901788566
0.0021105989385789945
0.002110597086982896
0.002110595235390528
0.0021105933838018857
0.0021105915322169894
0.0021105896806358367
0.002110587829058421
0.0021105859774847675
0.002110584125914818
0.002110582274348634
0.0021105804227861845
0.002110578571227448
0.002110576719672472
0.0021105748681212334
0.002110573016573744
0.0021105711650299713
0.002110569313489937
0.002110567461953643
0.0021105656104211004
0.0021105637588922864
0.0021105619073672048
0.002110560055845853
0.0021105582043282663
0.002110556352814397
0.0021105545013042695
0.0021105526497978617
0.0021105507982952213
0.002110548946796283
0.002110547095301085
0.0021105452438096558
0.0021105433923219357
0.0021105415408379465
0.0021105396893576996
0.0021105378378812084
0.0021105359864084287
0.0021105341349393876
0.0021105322834740737
0.0021105304320125106
0.0021105285805546664
0.002110526729100568
0.0021105248776502063
0.002110523026203571
0.002110521174760659
0.0021105193233214884
0.0021105174718860594
0.002110515620454363
0.002110513769026389
0.002110511917602149
0.0021105100661816313
0.002110508214764871
0.0021105063633518367
0.0021105045119425275
0.002110502660536941
0.002110500809135109
0.002110498957736994
0.002110497106342615
0.00211049525495196
0.0021104934035650535
0.0021104915521818505
0.0021104897008023976
0.00211048784942667
0.002110485998054671
0.002110484146686416
0.00211048229532188
0.00211048044396107
0.002110478592603988
0.002110476741250651
0.002110474889901022
0.0021104730385551477
0.0021104711872129886
0.0021104693358745593
0.0021104674845398505
0.00211046563320888
0.0021104637818816405
0.002110461930558118
0.002110460079238331
0.0021104582279222674
0.00211045637660994
0.0021104545253013414
0.0021104526739964503
0.0021104508226953006
0.0021104489713978805
0.0021104471201041906
0.002110445268814235
0.002110443417527984
0.0021104415662454618
0.0021104397149666744
0.0021104378636916193
0.002110436012420277
0.002110434161152655
0.0021104323098887815
0.0021104304586286086
0.00211042860737218
0.0021104267561194785
0.002110424904870498
0.0021104230536252285
0.002110421202383689
0.002110419351145885
0.002110417499911806
0.002110415648681424
0.0021104137974547886
0.002110411946231881
0.002110410095012687
0.0021104082437972205
0.0021104063925854915
0.0021104045413774795
0.0021104026901731664
0.002110400838972587
0.002110398987775749
0.002110397136582626
0.002110395285393209
0.0021103934342075266
0.002110391583025573
0.0021103897318473313
0.0021103878806728238
0.0021103860295020194
0.00211038417833495
0.0021103823271716128
0.0021103804760119796
0.0021103786248560653
0.0021103767737038707
0.0021103749225554087
0.002110373071410657
0.0021103712202696313
0.0021103693691323132
0.002110367517998746
0.0021103656668688725
0.0021103638157427317
0.0021103619646203053
0.002110360113501599
0.0021103582623865943
0.0021103564112753344
0.0021103545601677907
0.002110352709063956
0.0021103508579638558
0.0021103490068674455
0.0021103471557747766
0.002110345304685821
0.0021103434536005766
0.0021103416025190593
0.0021103397514412596
0.002110337900367171
0.002110336049296805
0.002110334198230159
0.0021103323471672224
0.0021103304961079964
0.002110328645052507

In [ ]:
from sklearn.datasets import load_breast_cancer
df1=pd.DataFrame()
df1=load_breast_cancer()
type(df1)

sklearn.utils.Bunch

In [ ]:
df1.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [ ]:
df1['data']
df1['target']

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1])