In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
path="/content/gdrive/MyDrive/Colab Notebooks/chipotle.tsv.txt"

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
mydata=pd.read_csv(path,'\t')

In [ ]:
mydata

      order_id  ...  item_price
0            1  ...      $2.39
1            1  ...      $3.39
2            1  ...      $3.39
3            1  ...      $2.39
4            2  ...     $16.98
...        ...  ...         ...
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[4622 rows x 5 columns]

In [ ]:
mydata.shape

(4622, 5)

In [ ]:
mydata.isna().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [ ]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [ ]:
mydata.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
mydata['item_price']=mydata['item_price'].str.replace("$",'')

In [ ]:
mydata

      order_id  ...  item_price
0            1  ...       2.39
1            1  ...       3.39
2            1  ...       3.39
3            1  ...       2.39
4            2  ...      16.98
...        ...  ...         ...
4617      1833  ...      11.75
4618      1833  ...      11.75
4619      1834  ...      11.25
4620      1834  ...       8.75
4621      1834  ...       8.75

[4622 rows x 5 columns]

In [ ]:
mydata['item_price']=mydata['item_price'].astype(float)

In [ ]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [ ]:
mydata.groupby('item_name')['quantity'].sum()

item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            211
Bowl                                       4
Burrito                                    6
Canned Soda                              126
Canned Soft Drink                        351
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             761
Chicken Burrito                          591
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               221
Steak Burrito                            386
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64

In [ ]:
mydata.groupby('item_name')['quantity','item_price'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                       quantity  item_price
item_name
6 Pack Soft Drink                            55      356.95
Barbacoa Bowl                                66      672.36
Barbacoa Burrito                             91      894.75
Barbacoa Crispy Tacos                        12      120.21
Barbacoa Salad Bowl                          10      106.40
Barbacoa Soft Tacos                          25      250.46
Bottled Water                               211      302.56
Bowl                                          4       29.60
Burrito                                       6       44.40
Canned Soda                                 126      137.34
Canned Soft Drink                           351      438.75
Carnitas Bowl                                71      736.71
Carnitas Burrito                             60      597.83
Carnitas Crispy Tacos                         8       77.96
Carnitas Salad                                1        8.99
Carnitas Salad Bowl                           6       66.34
Carnitas Soft Tacos                          40      375.94
Chicken Bowl                                761     7342.73
Chicken Burrito                             591     5575.82
Chicken Crispy Tacos                         50      472.13
Chicken Salad                                 9       81.09
Chicken Salad Bowl                          123     1228.75
Chicken Soft Tacos                          120     1108.09
Chips                                       230      494.34
Chips and Fresh Tomato Salsa                130      361.36
Chips and Guacamole                         506     2201.04
Chips and Mild Fresh Tomato Salsa             1        3.00
Chips and Roasted Chili Corn Salsa           23       67.85
Chips and Roasted Chili-Corn Salsa           18       43.02
Chips and Tomatillo Green Chili Salsa        45      132.75
Chips and Tomatillo Red Chili Salsa          50      147.50
Chips and Tomatillo-Green Chili Salsa        33       78.87
Chips and Tomatillo-Red Chili Salsa          25       59.75
Crispy Tacos                                  2       14.80
Izze                                         20       67.80
Nantucket Nectar                             29       98.31
Salad                                         2       14.80
Side of Chips                               110      185.90
Steak Bowl                                  221     2260.19
Steak Burrito                               386     3851.43
Steak Crispy Tacos                           36      357.34
Steak Salad                                   4       35.66
Steak Salad Bowl                             31      343.59
Steak Soft Tacos                             56      536.05
Veggie Bowl                                  87      867.99
Veggie Burrito                               97      934.77
Veggie Crispy Tacos                           1        8.49
Veggie Salad                                  6       50.94
Veggie Salad Bowl                            18      182.50
Veggie Soft Tacos                             8       73.96

In [ ]:
mydata['choice_description'].mode()

0    [Diet Coke]
dtype: object

In [ ]:
mydata['choice_description']=mydata['choice_description'].fillna('Diet Coke')

In [ ]:
mydata.isna().sum()

order_id              0
quantity              0
item_name             0
choice_description    0
item_price            0
dtype: int64

In [ ]:
mydata