In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('./smsdata.csv')
# df1=pd.read_xml('./accsms.xml')
df

,Unnamed: 0,address,body,BankTrancation
0,1,BW-SBGPPC,Transaction of INR 2000.00 made on Prepaid C...,Yes
1,2,BW-SBGPPC,Transaction of INR 3000.00 made on Prepaid C...,Yes
2,3,HP-TATAMF,Your Account Statement for recent transaction ...,no
3,4,BH-NSESMS,"Dear AODXXXXX8R,Your traded value for 12-JAN-1...",no
4,5,BH-NSESMS,"Dear AAMXXXXX1Q,Your traded value for 17-JAN-1...",no
...,...,...,...,...
488,489,BH-MBBSHN,GOOD NEWS\r\n\r\nStudents who want to take MBB...,No
489,490,BW-mbbsss,Lowest Pkgs\r\nReputed Clgs\r\nIn INDIA/ABROAD...,No
490,491,9.19E+11,I'll call you later.,No
491,492,BW-GMSHOP,GetMeShop- Online Shopping- Shop Stylish Cloth...,No
492,493,9.20E+11,This is Ajay Parikh from Gujarat Vidyapith I w...,No

In [4]:
df['BankTrancation'].value_counts()

No     400
Yes     73
no      20
Name: BankTrancation, dtype: int64

In [5]:
df['BankTrancation']=df['BankTrancation'].replace('No','no')

In [6]:
df['BankTrancation'].value_counts()

no     420
Yes     73
Name: BankTrancation, dtype: int64

In [7]:
df=df[['body','BankTrancation']]
df

                                                  body BankTrancation
0    Transaction of  INR 2000.00  made on Prepaid C...            Yes
1    Transaction of  INR 3000.00  made on Prepaid C...            Yes
2    Your Account Statement for recent transaction ...             no
3    Dear AODXXXXX8R,Your traded value for 12-JAN-1...             no
4    Dear AAMXXXXX1Q,Your traded value for 17-JAN-1...             no
..                                                 ...            ...
488  GOOD NEWS\r\n\r\nStudents who want to take MBB...             no
489  Lowest Pkgs\r\nReputed Clgs\r\nIn INDIA/ABROAD...             no
490                               I'll call you later.             no
491  GetMeShop- Online Shopping- Shop Stylish Cloth...             no
492  This is Ajay Parikh from Gujarat Vidyapith I w...             no

[493 rows x 2 columns]

## Lower Casing

In [8]:
df['body']=df['body'].str.lower()
df['BankTrancation']=df['BankTrancation'].str.lower()

df

<ipython-input-8-a99f62a01bc9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['body']=df['body'].str.lower()
<ipython-input-8-a99f62a01bc9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BankTrancation']=df['BankTrancation'].str.lower()

                                                  body BankTrancation
0    transaction of  inr 2000.00  made on prepaid c...            yes
1    transaction of  inr 3000.00  made on prepaid c...            yes
2    your account statement for recent transaction ...             no
3    dear aodxxxxx8r,your traded value for 12-jan-1...             no
4    dear aamxxxxx1q,your traded value for 17-jan-1...             no
..                                                 ...            ...
488  good news\r\n\r\nstudents who want to take mbb...             no
489  lowest pkgs\r\nreputed clgs\r\nin india/abroad...             no
490                               i'll call you later.             no
491  getmeshop- online shopping- shop stylish cloth...             no
492  this is ajay parikh from gujarat vidyapith i w...             no

[493 rows x 2 columns]

## Removel Of Punctuations

In [9]:
import string
Punct_to_remove=string.punctuation

In [10]:
def remove_punctuation(text):
    return text.translate(str.maketrans('','',Punct_to_remove))

df['body']=df['body'].apply(lambda text:remove_punctuation(text))
df

<ipython-input-10-7779d99bb7c3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['body']=df['body'].apply(lambda text:remove_punctuation(text))

                                                  body BankTrancation
0    transaction of  inr 200000  made on prepaid ca...            yes
1    transaction of  inr 300000  made on prepaid ca...            yes
2    your account statement for recent transaction ...             no
3    dear aodxxxxx8ryour traded value for 12jan18 c...             no
4    dear aamxxxxx1qyour traded value for 17jan18 c...             no
..                                                 ...            ...
488  good news\r\n\r\nstudents who want to take mbb...             no
489  lowest pkgs\r\nreputed clgs\r\nin indiaabroad\...             no
490                                 ill call you later             no
491  getmeshop online shopping shop stylish clothes...             no
492  this is ajay parikh from gujarat vidyapith i w...             no

[493 rows x 2 columns]

## Remove Stopwords

In [11]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')


STOPWORDS = set(stopwords.words('english'))

def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

df["body"] = df["body"].apply(lambda text: remove_stopwords(text))


df.head()

[nltk_data] Downloading package stopwords to /home/mca/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
<ipython-input-11-9f8732b65b88>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["body"] = df["body"].apply(lambda text: remove_stopwords(text))

                                                body BankTrancation
0  transaction inr 200000 made prepaid card xxxx1...            yes
1  transaction inr 300000 made prepaid card xxxx1...            yes
2  account statement recent transaction folio no3...             no
3  dear aodxxxxx8ryour traded value 12jan18 cm rs...             no
4  dear aamxxxxx1qyour traded value 17jan18 cm rs...             no

## Removal of Frequent words

In [12]:
# from collections import Counter
# cnt = Counter()
# for text in df["body"].values:
#     for word in text.split():
#         cnt[word] += 1
        
        
# cnt.most_common(15)

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x=cv.fit_transform(df['body']).toarray()
x

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [14]:
y = pd.get_dummies(df['BankTrancation'])
y = y.iloc[:,1].values
y

array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=uint8)

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [16]:
from sklearn.naive_bayes import MultinomialNB
spam_detection_model=MultinomialNB().fit(x_train,y_train)

In [17]:
y_pre=spam_detection_model.predict(x_test)

In [18]:
from sklearn.metrics import confusion_matrix , accuracy_score , classification_report
import seaborn as sns

In [19]:
acc=accuracy_score(y_test,y_pre)
acc

0.8888888888888888

In [31]:
cm=confusion_matrix(y_test,y_pre)
cm

array([[72,  9],
       [ 2, 16]])

In [21]:
y_test.shape

(99,)

In [22]:
y_pre.shape

(99,)

In [23]:
resultdata=pd.DataFrame({'actual':list(y_test),'predicted':list(y_pre)})
resultdata

index_list=resultdata[resultdata['actual']!=resultdata['predicted']].index
index_list

Int64Index([20, 25, 36, 38, 48, 57, 67, 68, 77, 79, 80], dtype='int64')

In [24]:
resultdata[resultdata['actual']!=resultdata['predicted']].index

Int64Index([20, 25, 36, 38, 48, 57, 67, 68, 77, 79, 80], dtype='int64')

In [25]:
one=pd.DataFrame({'sms':df.loc[index_list,'body']})          
one

                                                  sms
20  successfully initiated individual pension acco...
25  purchase sip folio 379164173 tata equity pe fu...
36                                  europa 9227405866
38  dear customer purchase request euroclean proce...
48  ajay parikh b8 balaji park nr lad society sand...
57  dear customer ticket 2000884677 assigned ifb s...
67  samsung product request number 4258878075 use ...
68  dear siri discussed case respective team resol...
77  dear iob customeryour rdp dep ac 000001286 mat...
79  pl check email sent detailing necessary prereq...
80  sip installment rs5000 tata equity pe fund reg...

In [26]:
one1=pd.DataFrame(resultdata[resultdata['actual']!=resultdata['predicted']])
one1

    actual  predicted
20       1          0
25       0          1
36       1          0
38       0          1
48       0          1
57       0          1
67       0          1
68       0          1
77       0          1
79       0          1
80       0          1

In [28]:
threedf=pd.DataFrame({'sms':one['sms'],'actual':one1['actual'],'predict':one1['predicted']})
threedf

                                                  sms  actual  predict
20  successfully initiated individual pension acco...       1        0
25  purchase sip folio 379164173 tata equity pe fu...       0        1
36                                  europa 9227405866       1        0
38  dear customer purchase request euroclean proce...       0        1
48  ajay parikh b8 balaji park nr lad society sand...       0        1
57  dear customer ticket 2000884677 assigned ifb s...       0        1
67  samsung product request number 4258878075 use ...       0        1
68  dear siri discussed case respective team resol...       0        1
77  dear iob customeryour rdp dep ac 000001286 mat...       0        1
79  pl check email sent detailing necessary prereq...       0        1
80  sip installment rs5000 tata equity pe fund reg...       0        1

In [30]:
for i in threedf['sms']:
    print(i)

successfully initiated individual pension account opening process enps acknowledgement 11479910 acknowledgement date 01mar2018
purchase sip folio 379164173 tata equity pe fund reg pl growth rs500000 36607 units nav rs1365859 dated 05mar2018 successful applicable load tata mf
europa 9227405866
dear customer purchase request euroclean processed sales representative jeevaram ghanchi9998114740 tcs click httpbitly2gre8g5
ajay parikh b8 balaji park nr lad society sandesh press road nr page one hotel vastrapur
dear customer ticket 2000884677 assigned ifb service technician contact shortly
samsung product request number 4258878075 use future reference 180040samsung7267864 track online httpbitly1tzjxtz
dear siri discussed case respective team resolved eod regards
dear iob customeryour rdp dep ac 000001286 maturing 28apr18 auto renewedfor change amountperiod contact branch 28apr18
pl check email sent detailing necessary prerequisite claiming exemtion us1011 taken filing itr7 efiling portal
sip installment rs5000 tata equity pe fund reg pl growth folio no3791641 due 05may18 please maintain sufficient balance state bank india account tata mf